In [38]:
import scipy.stats as stats
import statsmodels.api as sm
from scipy.stats import norm
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from PIL import ImageGrab
import matplotlib.pyplot as plt
import seaborn as sns

 # Step 1
 Assumptions:
 
 Ho= % of defective of all countries are equal 
 H1=at least one defective % is not equal
 
 # Step 2
 
Significance Value = 5% ,


# Step 3
Alpha = 0.05

# Step 4
We are going to perform Chi-square Test on Independent samples with Numerical Data

In [39]:
centers = pd.read_csv("C:\DataScience\Assignment\Hypothesis testing\Costomer+OrderForm.csv")

In [40]:
centers

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [41]:
count =(centers['Phillippines'].value_counts(),'\n',centers['Indonesia'].value_counts(),'\n',centers['Malta'].value_counts(),'\n',centers['India'].value_counts())

In [42]:
count

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64,
 '\n',
 Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64,
 '\n',
 Error Free    269
 Defective      31
 Name: Malta, dtype: int64,
 '\n',
 Error Free    280
 Defective      20
 Name: India, dtype: int64)

In [43]:
observed = [[271,267,269,280],[29,33,31,20]]
observed

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [44]:
Result = stats.chi2_contingency(observed)
Result

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [45]:
p_value = stats.chi2_contingency(observed)[1]
p_value

0.2771020991233135

# Step 5
Compare P_value with singificance value i.e. 0.05
if p > alpha value, fail to reject null hypothesis
if p < alpha value, reject null hypothesis and accept alternate hypothesis

In [46]:
alpha = 0.05
if p_value >= alpha:
    print('p_Value=', p_value, 'alpha=', alpha)
    print("Accept null hypothesis,\n% of defective of all countries are equal.")
else:
    print('p_Value=', p_value, 'alpha=', alpha)
    print("Reject null hypothesis,\n% of defective of all countries are not equal.")

p_Value= 0.2771020991233135 alpha= 0.05
Accept null hypothesis,
% of defective of all countries are equal.