In [38]:
import scipy.stats as stats
import statsmodels.api as sm
from scipy.stats import norm
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from PIL import ImageGrab
import matplotlib.pyplot as plt
import seaborn as sns

 # Step 1
 Assumptions:
 H0: All Proportions are equal ,
 H1: Not all Proportions are equal
 
 # Step 2
 
Significance Value = 5% ,
alpha = 0.05

# Step 3
Alpha = 0.025

# Step 4
We are going to perform Chi-square Test on Independent samples with Numerical Data

In [39]:
Buyer_ratio = pd.read_csv("C:\DataScience\Assignment\Hypothesis testing\BuyerRatio.csv")

In [40]:
Buyer_ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [41]:
table = Buyer_ratio.iloc[:,1:6]
table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [42]:
Result = stats.chi2_contingency(table)
Result

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [43]:
p_value = stats.chi2_contingency(table)[1]
p_value

0.6603094907091882

# Step 5
Compare P_value with singificance value i.e. 0.05
if p > alpha value, fail to reject null hypothesis
if p < alpha value, reject null hypothesis and accept alternate hypothesis

In [47]:
alpha = 0.05
if p_value >= alpha:
    print('p_Value=', p_value, 'alpha=', alpha)
    print("Accept null hypothesis,\nAll Proportions are equal.")
else:
    print('p_Value=', p_value, 'alpha=', alpha)
    print("Reject null hypothesis,\nAll Proportions are not equal.")

p_Value= 0.6603094907091882 alpha= 0.05
Accept null hypothesis,
All Proportions are equal.